<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.studiotrek.faculdadeimpacta">

    <meta-data
        android:name="android.webkit.WebView.MetricsOptOut"
        android:value="true" />
    <meta-data
        android:name="android.webkit.WebView.EnableSafeBrowsing"
        android:value="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".presentation.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"/>

        <!--<activity android:name=".presentation.login.LoginActivity">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <!--<activity android:name=".presentation.home.HomeActivity"/>-->

        <activity android:name=".presentation.home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".presentation.menu.MenuActivity"/>
        <activity android:name=".presentation.schedule.ScheduleActivity"/>
        <activity android:name=".presentation.semester_grades.SemesterActivity"/>

    </application>

</manifest>